---
import HamburgerButton from "../HamburgerButton/HamburgerButton.astro";
import { menuItems } from "./menuItems.data";
import "./nav-menu.css";
const img = "/images/sofilogo.png";

const pagePathname = Astro.url.pathname;

---

<script>
  import {adjustSubsubmenuPositionOnResize} from "./dropdownPosition.controller.js";
</script>

<nav class="mobile-header__menu " id="mobile-header-menu">
  <ol class="mobile-menu">
     {
      pagePathname !== "/" && (
        <li class="header__item mobile-header__item">
          <a class="menu__link mobile-menu__link" href="/" data-astro-prefetch="hover">
            Inicio
          </a>
        </li>
      )
    }
  {
    menuItems.map((item) => (
      <li >
        {item.submenu ? (
          <details class="mobile-details">
            <summary class="menu__sumary">
              {item.text}
              <iconify-icon
                class="iconify-arrow"
                icon="codicon:triangle-down"
                width="15"
                height="15"
                style="color: var(--light-spot-color);"
              />
            </summary>
            <ol class="mobile-submenu">
              {Array.isArray(item.submenu)
                ? item.submenu.map((sub) => (
                    <li >
                      {sub.submenu && Array.isArray(sub.submenu) && sub.submenu.length > 0 ? (
                        <details class="mobile-details">
                          <summary class="menu__summary">
                            {sub.text}
                            <iconify-icon
                              class="iconify-arrow"
                              icon="codicon:triangle-down"
                              width="15"
                              height="15"
                              style="color: var(--light-spot-color);"
                            />
                          </summary>
                          <ol class="mobile-subsubmenu">
                            {sub.submenu.map((subsub) => (
                              <li class="mobile-submenu__item secondary">
                                <a class="menu__link  mobile-menu__link" href={subsub.link}>{subsub.text}</a>
                              </li>
                            ))}
                          </ol>
                        </details>
                      ) : (
                        <a class="menu__link mobile-menu__link" href={sub.link}>{sub.text}</a>
                      )}
                    </li>
                  ))
                : ""}
            </>
          </details>
        ) : (
          <a class="mobile-menu__link" href={item.link}>
            {item.text}
          </a>
        )}
      </li>
    ))
  }
  </ol>
</nav>