---
import HamburgerButton from "../HamburgerButton/HamburgerButton.astro";
import { menuItems } from "./menuItems.data";
import "./nav-menu.css";
const pagePathname = Astro.url.pathname;

---

<script>
  import {adjustSubsubmenuPositionOnResize} from "./dropdownPosition.controller.js";
</script>

<nav class="header__menu" id="header-menu">
  <ul class="menu">
     {
      pagePathname !== "/" && (
        <li class="header__item">
          <a class="menu__link" href="/" data-astro-prefetch="hover">
            Inicio
          </a>
        </li>
      )
    }
  {
    menuItems.map((item) => (
      <li class="menu__item">
        <a class="menu__link" href={item.link}>
          {item.text}
          {item.submenu && (
            <iconify-icon
              class="iconify-arrow"
              icon="codicon:triangle-down"
              width="15"
              height="15"
            />
          )}
        </a>
        {item.submenu && (
          <ul class="submenu">
            {Array.isArray(item.submenu)
              ? item.submenu.map((sub) => (
                  <li class="submenu__item submenu__item--seccondary">
                    <a href={sub.link}>
                      {sub.text}
                      {sub.submenu && sub.submenu?.length > 0 && (
                        <iconify-icon
                          class="iconify-arrow"
                          icon="codicon:triangle-down"
                          width="15"
                          height="15"
                        />
                      )}
                    </a>
                    {sub.submenu && (
                      <ul class="subsubmenu">
                        {Array.isArray(sub.submenu) ? (
                          sub.submenu.map((subsub) => (
                            <li class="submenu__item--tertiary">
                              <a href={subsub.link}>{subsub.text}</a>
                            </li>
                          ))
                        ) : (
                          <li>
                            <a href={sub?.submenu?.link}>{sub.submenu?.text}</a>
                          </li>
                        )}
                      </ul>
                    )}
                  </li>
                ))
              : ""}
          </ul>
        )}
      </li>
    ))
  }
  </ul>
</nav>
